.popup__title {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 54px;
    color: black;
  }
  
  @media (max-width: 414px) {
    .popup__title {
      font-size: 20px;
      max-width: 200px;
      margin-bottom: 24px;
    }
  }
  