.profile__job {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 580px){
  .profile__job {
    font-size: 14px;
    line-height: 1.2;
    justify-content: center;
  }
}