.popup__form-button {
    margin: 216px auto 0 auto;
    width: 358px;
    height: 50px;
    background-color: white;
    border: none;
}

.popup__form-button:hover {
    cursor: pointer;
    opacity: 85%;
}

@media (max-width: 415px) {
    .popup__form-button {
      max-width: 220px;
    }
  }

@media (max-width: 320px) {
    .popup__form-button {
      max-width: 220px;
      margin: 100px auto 0 auto;
    }
  }